/user/migrations
/store/migrations
/search/migrations
/purchasing/migrations
/errorhandling/migrations
/detail/migrations
/board/migrations
/log
__pycache__
*.pyc
*.project
*.pydevproject
*.prefs
/private_files
