{% extends "search/base.html" %} 
{% load static %}
{% load mathfilters %} 

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> '와인 이름' 검색 결과 </title>
	</head>
	<body>
	
	{% block select %}								<!-- 검색 방법 선택 -->
		
		<a href="/search/main">
			<div>
				검색어 검색 
			</div>
		</a>
		<a href="/search/searchbycategory">
			<div>
				카테고리 검색 
			</div>
		</a>
		{% if request.session.memid %}
		<a href="/search/searchbyuser">
			<div>
				추천 검색 
			</div>
		</a>
		{% else %}
		
		{% endif %}
		<a href="/search/searchbyrank">
			<div>
				순위별 검색 
			</div>
		</a>
		{% endblock %}
		
	{% block input %}
			{% csrf_token %}
			<form method="post" action="searchbyuserlist" name="searchbyuser">
					
					<input class="inputbutton" type="submit" value="검색">	
				</div>
			</form>
	{% endblock %}	
	<br><br>
	
			
	{% block list %}
	전체 결과 수 : {{ count }}										<!-- 전체 결과 수 출력 -->
	<br><br>
	
			{% if count == 0 %}										<!-- 검색 결과 유무에 따라 나눈다 -->
					검색 결과가 없습니다
			{% else %}
			{{sorted_name.3}}
			
				{% for sorted_id, sorted_name, sorted_image in list_for_user %}								<!-- 검색 결과가 있다면 반복문으로 나타낸다 -->
					<a href="../detail/winedetail?wine_id={{sorted_id}}">
						<div align="center" style="width:60%; height: 100px; border: 5px solid rgb(170, 0, 4); border-radius: 2em;">													<!-- 리스트 요소는 <div> 태그로 나타내고 <div> 영역 안에 image, 이름이 있다 -->
					 		<div align="left" ><img src="../{{sorted_image}}" width="60" height="80" alt="Image"> </div>
							<div style="text-align:left"> {{sorted_name}} </div>
						</div>
					</a>
					<br><br>
				{% endfor %}
			{% endif %}
	
	{% endblock %}
		
	
	</body>
</html>