{%extends "user/base.html"%}
{%csrf_token%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/reviewList.css'%}">
{%block title%} <h2>  </h2> {%endblock%}

{%block content%}
<head>
  <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="{%static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="reviewList">리뷰 관리</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="modifyUser">회원정보수정</a></li>
                <li class="nav-item"><a class="nav-link" href="reviewList">리뷰 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="purchaseDetail">구매 내역</a></li>
                <li class="nav-item"><a class="nav-link" href="../purchasing/cart-list">장바구니</a></li>
                <li class="nav-item"><a class="nav-link" href="myBoard">게시글 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="myComment">댓글 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="delete">회원 탈퇴</a></li>
                {% if user_grade == "2" %}
                <li class="nav-item"><a class="nav-link" href="../store/storeMyPage">점주 페이지</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
        	{%for dto in dtos%}
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1">
                	<!-- <img src="{{dto.sell.wine.wine_image}}" class="img-fluid img-responsive rounded product-image"> -->
                	<img src="{{dto.sell.wine.wine_image}}" width=200 height=200>
                </div>
                <div class="col-md-6 mt-1">
                    <h4>{{dto.sell.wine.wine_name}}({{dto.sell.wine.wine_name_eng}}), {{dto.sell.sell_price}}원</h4>
                    <div class="d-flex flex-row">
                        <span>{{dto.review_reg_time}}</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1">
                    	<span>★  {{dto.review_score}}</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0"><h4>{{dto.review_content}}</h4></p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

</body>

{%endblock%}














