

{% load static %}
{%csrf_token%}
<head>
  <title>와인 상세 정보</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>



{% block detail %}
<br><br><br>
	<div style="text-align:center"> 
		<img src="{{ wine_info.wine_image }}" width="300" height="400"> 
	</div>

<div class="row" style="text-align:center">
	<h2>{{ wine_info.wine_name }} </h2>
</div>
<div class="row" style="text-align:center">
	<h5>{{ wine_info.wine_name_eng }} </h5>
</div>
<div class="row" style="text-align:center">
	<h5>{{ wine_info.wine_capacity }} mL 
	{% if wine_info.wine_capacity == 750 %}
		(표준 용량)
	{% endif %}
</h5>
</div>
<br>
<br>

<div class="container mt-5" style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-sm-4">
      <div class="fakeimg"> <span class="info"> 분류 : {{ det_kind }} </span> </div>
    </div>
    <div class="col-sm-4">
      <div class="fakeimg"> <span class="info"> 생산 국가 : {{ region.wine_region_name }} </span> </div>
    </div>
    <div class="col-sm-4">
      <div class="fakeimg"> <span class="info"> 사이드 음식 : {{ det_food }} </span> </div>
    </div>
   <div class="row">
   </div>
  </div>
  <br><br>
  <div class="row" style="text-align:center">
   <div class="col-sm-4">
     <div class="fakeimg"> <span class="info"> 도수 : {{ wine_info.wine_alc }}% </span> </div>
   </div>
   <div class="col-sm-8" style="text-align:center">
     <div class="fakeimg" style="text-align:center">
     	<div style="text-align:center">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
		<canvas id="chartTaste" width="800" height="200"></canvas>
		<script>		
		let taste_spec = [];
		taste_spec.push("{{ wine_info.wine_dangdo }}");
		taste_spec.push("{{ wine_info.wine_sando }}");
		taste_spec.push("{{ wine_info.wine_tannin }}");
		
		let taste_spec_name = ["당도", "산도", "탄닌"];
		
		const ctxTaste = document.getElementById('chartTaste').getContext('2d');
		const chartTaste = new Chart(ctxTaste, {
		    type: 'bar',
		    data: {
		        labels: taste_spec_name,
		        datasets: [{
		            label: 'wine_taste',
		            data: taste_spec,
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.5)'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		    	responsive: false,
		        scales: {
		            y: {
						ticks: {
							min: 0,
							max: 5,
							fontSize : 20
						}
					}
		        }
		    }
		});
		</script>
		</div>
		<div>
			
		</div>
		</div>
		
		
		
		
	 
   </div>
  	</div>
  </div>  
 <br><br>
  <div class="row">
 	<div class="col_" style="float: left;">
  		{% if request.session.memid %}
		    <input class="inputbutton" type="button" value="매장 리스트업" style="padding: 10px 30px;"
		    	onclick="location='../purchasing/wine/{{ wine_info.wine_id }}/stores'">    
		    	<!-- onclick="location='../purchasing/store-list?wine_id={{ wine_info.wine_id }}'"> -->	    	
		{% else %}   	
		    <input class="inputbutton" type="button" value="매장 리스트업" style="padding: 10px 30px;"
		    	value="구매하려면 로그인을 해야합니다." disabled="disabled">
		
		{% endif %}
		</div>
	<div class="col_" style="float: left;"> 
			<br>
		    	<input class="inputbutton" type="button" value="뒤로 가기" style="padding: 10px 30px;"
		    	onclick="history.back()">
  	</div>	
  	
  </div>
		
	{% endblock %}	
	{% block recommend %}	

	<div class="row">
	     <div class="col-sm-12">
	      	<div class="well">
	  			{%for recommend in recommend_list %}
	  			<a href="winedetail?wine_id={{recommend.wine_id}}">
	  				<img src="../{{recommend.wine_image}}" width=150 height=150>
	  			</a>
	  			{%endfor%}
	      	</div>
	      </div>
	</div>

	
	{% endblock %}	


<style>
.fakeimg {
            height: 200px;
            background-color: #F8E0E6;
        }



.row	{
			text-align : center;
		}
</style>

<br>
<div class="mt-5 p-4 bg-dark text-white text-center">
  <p></p>
</div>

</body>
</html>
