{% extends "search/base.html" %} 
{% load static %}

<html>
	<head>
		<meta charset="UTF-8">
		<title> Wining </title>
		<!-- ♠ bootstrap 적용 -->
		
		<style>

			
			.search-form-container {
			    position: relative;
			}
			

			.wining-image {
                width: 300px; /* 이미지의 너비 조절 */
                height: auto; /* 이미지의 높이 자동 조절 */
                position: absolute;
                top: 50px; /* 원하는 높이 값으로 조정해주세요 */
                left: 50%; /* 가운데로 정렬 */
                transform: translateX(-50%); /* 가운데로 정렬 */
            }
            
		</style>
		<script src="/static/js/jquery-3.6.4.js"></script>
		<script src="/static/js/script_search.js"></script>
		
	</head>
	
	<body> 
		
		
		{% block select %}
		
		<br><br>						

		
		{% endblock %}
		<br><br>
		{% block input %}								<!-- 검색 입력 창 -->
		<!-- 검색어 입력하고 submit 하면 "http://localhost:8000/search/searchbynamelist" -->
		<div  class="center-container">		
			<div id="rootDiv" class="search-form-container">
				<img src="{% static 'logo1.png' %}" alt="logo1" class="wining-image">
				<div class="search-form" style="text-align: center">
					{% csrf_token %}
		        	<form method="post" action="searchbynamelist" name="searchbyname">
		            	{% csrf_token %}
						
						<select id="nameLanguage" name="namelanguage">
							<option value="winenamekor"> 한국어 </option> 
							<option value="winenameeng"> 영문이름 </option>
						</select>
		            	<input @keyup="searchRelateKeyword" id="searchInput" class="search-input" type="text" name="searchname" maxlength="100" :value="[[selectedValue]]" placeholder="검색어를 입력하세요." :style="unhover" autofocus>
		            	<input class="search-button" type="submit" value="GO">
						<div  v-for="wineName in result" id="resultArea">
							<input @click="clickWineName" v-show="show" type="text" name="result" :value=[[wineName.result]] :style="hover" readonly>
						</div>
		        	</form>
		        </div>
		   </div>
		</div>
		<script type="module" src="/static/js/searchKeyInputScript.js" defer></script>
		{% endblock %}

		{% block list %}
		
		{% endblock %}




	</body>
</html>
