{% extends "search/base.html" %} 
{% load static %}



<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> Wining </title>
		<!-- ♠ bootstrap 적용 -->
	</head>
	<body> 
		
		{% block select %}								<!-- 검색 방법 선택 -->
		
		
		{% endblock %}
		<br><br>
		{% block input %}
			{% csrf_token %}


			
			<form method="post" action="searchbyranklist" name="searchbyrank">
				<div style="text-align:center"> 
					
					<div> 결과 순서 기준:
						<select name="rank_category">
				<!--  	<option value="detailview"> 조회수 </option>		--> 
						<option value="purchaseqnty"> 구매수 </option>
						<option value="sellregist"> 판매 등록 수 </option>
						<option value="reviewqnty"> 리뷰 개수 </option>
						<option value="reviewavg"> 리뷰 평점 </option>
				<!-- 	<option value="priceavg"> 평균 가격 </option>		-->
					</select>
					</div>

					<br><br><br><br><br><br>
					<div> 결과 최대 개수
						<input type="number" max="100" name="rank_qnty" placeholder="개수 입력" value="10">
					</div>
					<br>
					
				<input class="inputbutton" type="submit" value="검색">
				
			</form>
		{% endblock %}



		{% block list %}
		
		{% endblock %}

	</body>
</html>
