{% extends "search/base.html" %} 
{% load static %}
{% load mathfilters %} 

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> '와인 이름' 검색 결과 </title>
	</head>
	<body>
	
	{% block select %}								<!-- 검색 방법 선택 -->
		
		
		{% endblock %}
		
	{% block input %}
			{% csrf_token %}
			<form method="post" action="searchbyuserlist" name="searchbyuser">
				

				<div style="text-align: center;">
				<input class="inputbutton" type="submit" value="검색" style="display :inline-block; padding: 10px 30px;">
			</div>
				
			</form>
	{% endblock %}	
	<br><br>
	
			
	{% block list %}
	<div align="center" style="margin: 0 auto;">
		<div>	
		{% if results_count == 0 %}										<!-- 검색 결과 유무에 따라 나눈다 -->
				검색 결과가 없습니다
		{% else %}
			{% if recommend_by_user == 1 %}	
				<h4> {{user_id}} 님과 유사한 회원이 선호하는 결과 </h4>
			{% elif recommend_by_user == 0 %}
				<h4> {{user_id}} 님의 취향 입력 정보에 기반한 결과 </h4>
			{% endif %}	
		
		</div>
		<div>
		{% endif %}
		</div>
		</div>										<!-- 전체 결과 수 출력 -->
	<br><br>
	
			{% if count == 0 %}										<!-- 검색 결과 유무에 따라 나눈다 -->
					검색 결과가 없습니다
			{% else %}
			
			
				{% for sorted_id, sorted_name, sorted_name_eng, sorted_image in list_for_user %}								<!-- 검색 결과가 있다면 반복문으로 나타낸다 -->
				
					<div class="list_outline_start" style=" width:60%; height: 240px; border: 5px solid rgb(170, 0, 4); 
					border-radius: 1em; padding: 3px 3px 3px 3px; margin: 0 auto;">	    	
				 	<a href="../detail/winedetail?wine_id={{sorted_id}}">
				 		<div class="list_image" style="float: left;">
				 			<img src="../{{sorted_image}}" width="150" height="200"> 
				 		</div>
							<div class="list_name" id="{wine_by_rank.sell__wine__wine_id}}" style="font-size: x-large; font-color:black;">
								{{sorted_name}}
							</div>
							<div class="list_name_eng" style="font-size: large; padding: 5px 5px 5px 5px; font-color:black;"> 
								{{sorted_name_eng}} 
							</div>
						</a>
					</div>
					
					
					
					<br><br>
				{% endfor %}
			{% endif %}
	
	{% endblock %}
		
	
	</body>
</html>
