{% extends "search/base.html" %} 
{% load static %}
{% load mathfilters %} 

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> '와인 이름' 검색 결과 </title>
	</head>
	<body>
	
	{% block input %}
			{% csrf_token %}


			
			<form method="post" action="searchbyranklist" name="searchbyrank">
				<div style="text-align:center"> 
					<div> 
						<select name="rank_category">
				<!--  	<option value="detailview"> 조회수 </option>		--> 
						<option value="purchaseqnty"> 구매수 </option>
						<option value="sellregist"> 판매 등록 수 </option>
						<option value="reviewqnty"> 리뷰 개수 </option>
						<option value="reviewavg"> 리뷰 평점 </option>
				<!-- 	<option value="priceavg"> 평균 가격 </option>		-->
					</select>
					</div>

					<br>
					<div> 
						<input type="number" max="100" name="rank_qnty" placeholder="개수 입력" value="10">
					</div>
					<br>
					
				<input class="inputbutton" type="submit" value="검색">
				
			</form>
		{% endblock %}
		
	<br><br>
	{% block list %}
									<!-- 전체 결과 수 출력 -->
<br><br>

		{% if count == 0 %}										<!-- 검색 결과 유무에 따라 나눈다 -->
				검색 결과가 없습니다
		{% else %}
											<!-- 검색 결과가 있다면 반복문으로 나타낸다 -->
				
				{% if rank_category == "sellregist" %}
					<h4> 판매 등록 수 검색 결과 수 : {{ count }}개 </h4>	<br><br>
					{% for wine_by_rank in list_by_rank %}
					
					<div class="list_outline_start" style=" width:60%; height: 240px; border: 5px solid rgb(170, 0, 4); 
					border-radius: 1em; padding: 3px 3px 3px 3px; margin: 0 auto;">	    	
				 	<a href="../detail/winedetail?wine_id={{ wine_by_rank.wine__wine_id }}">
				 		<div class="list_image" style="float: left;">
				 			<img src="../{{wine_by_rank.wine__wine_image}}" width="150" height="200"> 
				 		</div>
							<div class="list_name" id="{wine_by_rank.sell__wine__wine_id}}" style="font-size: x-large; font-color:black;">
								{{wine_by_rank.wine__wine_name}}
							</div>
							<div class="list_name_eng" style="font-size: large; padding: 5px 5px 5px 5px; font-color:black;"> 
								{{wine_by_rank.wine__wine_name_eng}} 
							</div>
						</a>
						<div>
							판매 등록 수 : {{wine_by_rank.max_count}}
						</div>
					</div>
					<br><br>
					{% endfor %}

					
				{% elif rank_category == "purchaseqnty" %}
					<h4> 구매 수 검색 결과 : {{ count }}개 </h4>	<br><br>
					{% for wine_by_rank in list_by_rank %}
					
					<div class="list_outline_start" style=" width:60%; height: 240px; border: 5px solid rgb(170, 0, 4); 
					border-radius: 1em; padding: 3px 3px 3px 3px; margin: 0 auto;">	    	
				 	<a href="../detail/winedetail?wine_id={{ wine_by_rank.sell__wine__wine_id }}">
				 		<div class="list_image" style="float: left;">
				 			<img src="../{{wine_by_rank.sell__wine__wine_image}}" width="150" height="200"> 
				 		</div>
							<div class="list_name" id="{wine_by_rank.sell__wine__wine_id}}" style="font-size: x-large; font-color:black;">
								{{wine_by_rank.sell__wine__wine_name}}
							</div>
							<div class="list_name_eng" style="font-size: large; padding: 5px 5px 5px 5px; font-color:black;"> 
								{{wine_by_rank.sell__wine__wine_name_eng}} 
							</div>
						</a>
						<div>
							구매수 : {{wine_by_rank.max_count}}
					</div>
					</div>
					<br><br>
					{% endfor %}
					
				{% elif rank_category == "reviewqnty" %}
					<h4> 리뷰 개수 검색 결과 : {{ count }}개 </h4>	<br><br>
					{% for wine_by_rank in list_by_rank %}
					
					<div class="list_outline_start" style=" width:60%; height: 240px; border: 5px solid rgb(170, 0, 4); 
					border-radius: 1em; padding: 3px 3px 3px 3px; margin: 0 auto;">	    	
				 	<a href="../detail/winedetail?wine_id={{ wine_by_rank.sell__wine__wine_id }}">
				 		<div class="list_image" style="float: left;">
				 			<img src="../{{wine_by_rank.sell__wine__wine_image}}" width="150" height="200"> 
				 		</div>
							<div class="list_name" id="{wine_by_rank.sell__wine__wine_id}}" style="font-size: x-large; font-color:black;">
								{{wine_by_rank.sell__wine__wine_name}}
							</div>
							<div class="list_name_eng" style="font-size: large; padding: 5px 5px 5px 5px; font-color:black;"> 
								{{wine_by_rank.sell__wine__wine_name_eng}} 
							</div>
						</a>
						<div>
							리뷰 개수 : {{wine_by_rank.max_count}}
						</div>
					</div>
					<br><br>
					{% endfor %}
					
				{% elif rank_category == "reviewavg" %}
					<h4> 리뷰 평점 검색 결과 : {{ count }}개 </h4>	<br><br>
					{% for wine_by_rank in list_by_rank %}
					
					<div class="list_outline_start" style=" width:60%; height: 240px; border: 5px solid rgb(170, 0, 4); 
					border-radius: 1em; padding: 3px 3px 3px 3px; margin: 0 auto;">	    	
				 	<a href="../detail/winedetail?wine_id={{ wine_by_rank.sell__wine__wine_id }}">
				 		<div class="list_image" style="float: left;">
				 			<img src="../{{wine_by_rank.sell__wine__wine_image}}" width="150" height="200"> 
				 		</div>
							<div class="list_name" id="{wine_by_rank.sell__wine__wine_id}}" style="font-size: x-large; font-color:black;">
								{{wine_by_rank.sell__wine__wine_name}}
							</div>
							<div class="list_name_eng" style="font-size: large; padding: 5px 5px 5px 5px; font-color:black;"> 
								{{wine_by_rank.sell__wine__wine_name_eng}} 
							</div>
						</a>
						<div>
							리뷰 평점 : {{wine_by_rank.avg}}
						</div>
					</div>		
					<br><br>
					{% endfor %}
				
				{% endif %}
				<br><br>
			
		{% endif %}
	
	{% endblock %}
		

		
	
	</body>
</html>