{%extends "user/base.html"%}
{%load static%}
{%block title%} <h2> </h2> {%endblock%}

{%csrf_token%}
<link rel="stylesheet" type="text/css" href="{%static 'css/addPoint.css'%}">
<script src="{%static 'js/jquery-3.6.4.js'%}"></script>
<script src="{%static 'js/script_user.js'%}"></script>
<script type="module" src="{%static 'js/addPointScript.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">


{%block content%}

<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	
  	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  	<script src="{%static 'js/jquery-3.6.4.js'%}"></script>
  	<script src="{%static 'js/bootstrap.min.js' %}"></script>	
</head>



<body>
    <form method="post" action="addPoint" name="addpoint">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">충전하기</h3></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="small mb-1" for="chargePoint">충전 금액</label>
                                <input class="form-control py-4" id="chargePoint" name="point" type="number" placeholder="충전금액을 입력해주세요" :value="[[pointAdd]]">
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">충전 금액 선택</label>
                                <div class="row">
                                    <button v-for="value in decidedValues" @click="clickDecidedValue" class="col btn btn-light m-1" type="button">{{ value }}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">결제 수단 선택</label>
                                <button @click="selectAccount" class="btn btn-light" type="button">{{ selectedAccount }}</button>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">보유 포인트</label>
                                <span class="form-control py-2">{{ dto.user_point }}</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-buttons">
                                <input type="submit" id="charge" class="btn btn-primary btn-block" value="충전하기">
                            </div>
                        </div>
                      
                      
                        
                

                        
                        
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
    <script src="{% static 'js/script_user.js' %}"></script>
    <script type="module" src="{% static 'js/addPointScript.js' %}"></script>
</body>
{%endblock%}