{%extends "user/base.html"%}
{%load static%}
{%block title%} <h2> </h2> {%endblock%}


{%block content%}
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	
  	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
  	<script src="{%static 'js/jquery-3.6.4.js'%}"></script>
  	<script src="{%static 'js/bootstrap.min.js' %}"></script>	
  	
  	<style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            margin-top: 50px;
            margin-bottom: 300px;
            margin-right:10px;
            margin-left:70px;
        }

        .card-header {
            background-color: #343a40;
            color: white;
            padding: 15px;
            
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }
        

    </style>
</head>

<body class="sb-nav-fixed">   
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	
		 <div class="border-start border-end bg-white" id="sidebar-wrapper" style="width:300px;">
	         <div class="sidebar-heading border-bottom bg-light" align="center"><b>MyPage</b></div>
	               <div class="list-group list-group-flush">
	                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="modifyUser">회원정보수정</a>
	                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="delete">회원탈퇴</a>
	                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="myBoard">게시글관리</a>
	                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="myComment">댓글관리</a>
	                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="reviewList">리뷰관리</a>
	                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="purchaseDetail">구매내역</a>
	
		                {% if dto.user_grade_id == 1 %}
		                <a class="nav-link" href="myReceiveCode">수령 코드 확인</a>
		                {% endif %}
		                {% if dto.user_grade_id == 2 %}
		                <a class="nav-link" href="../store/mypage">점주 페이지</a>
		                {% endif %}
	               </div>
	    </div> 
   </nav>

<div class="container-fluid" >
	<div class="row content" >
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
		    
		        
		<div class="container">
	        <div class="row justify-content-center">
	            <div class="col-md-8">
	                <div class="card">
	                    <div class="card-header">회원정보수정</div>
	                    <div class="card-body">
	                    {% csrf_token %}
						<form method="post" action="modifyUser" name="modifyform">
							<input type="hidden" name="user_id" value="{{dto.user_id}}">
		    
						        <div class="form-row">
						            <div class="form-group col-md-12">
						                <label for="inputName">Your Name</label>
						                <br>
						                <input type="text" class="form-control" id="user_repasswd" value="{{dto.user_name}}" name="user_repasswd" readonly>
						            </div>
						        </div>
						        <div class="form-row">
						            <div class="form-group col-md-12">
						                <label for="inputName">Your ID</label>		    
								        <div class="form-group">
								            <input type="text" name="writer" class="form-control input-small" value="{{ request.session.memid }}" readonly>
								        </div>
						            </div>
						            <div class="form-group col-md-12">
						                <label for="inputName">Your Password</label>
						                <input type="password" class="form-control" id="user_passwd" value="{{dto.user_passwd}}" name="user_passwd">
						            </div>
						        </div>
						        <div class="form-row">
						            <div class="form-group col-md-12">
						                <label for="inputName">Your Confirm Password</label>
						                <input type="password" class="form-control" id="user_repasswd" value="{{dto.user_passwd}}" name="user_repasswd">
						            </div>
						        </div>
						        <div class="form-row">
						            <div class="form-group col-md-12">
						                <label for="inputName">Your Email Address</label>
						                <input type="email" class="form-control" id="user_email" value="{{dto.user_email}}" name="user_email">
						            </div>
						            <div class="form-group col-md-12">
						                <label for="inputName">Your Tel Number</label>
						                <input type="text" class="form-control" id="user_tel" value="{{dto.user_tel}}" name="user_tel">
						            </div>
						        </div>
	                            
	                            <br><br>
	                            
                       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       		<b>회원정보 수정을 모두 완료한 후 확인 버튼을 눌러주세요.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                        <button class="btn btn-sm btn-danger mt-3 mt-sm-0" type="submit">확인</button>
							<a class="btn btn-sm btn-secondary" href="myPage">취소</a> 
	                          
	                        
	                          
{% if dto.user_grade_id == 1 %} 
<div class="container">
    <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Recommendation.</h3>
                </div>
                
 				<div class="card-body">
                    {% csrf_token %}
                        
                        <div class="form-group">
                        	<!-- 1번 어떤 색의 와인을 즐기고 싶나요? -->
                            <label for="inputName" class="highlight-label">1. 어떤 색의 와인을 즐기고 싶나요?</label>
                            <div class="custom-radio">
                                <input type="radio" id="colorNone" name="color" value="0" {% if fdto and fdto.fav_wine_color == 0 %}checked{% endif %}>
                                <label>선택없음</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" id="colorRed" name="color" value="1" {% if fdto and fdto.fav_wine_color == 1 %}checked{% endif %}>
                                <label>붉은색</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" id="colorYellow" name="color" value="2" {% if fdto and fdto.fav_wine_color == 2 %}checked{% endif %}>
                                <label >연노란색</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" id="colorPink" name="color" value="3" {% if fdto and fdto.fav_wine_color == 3 %}checked{% endif %}>
                                <label >분홍색</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" id="colorRed" name="color" value="4" {% if fdto and fdto.fav_wine_color == 4 %}checked{% endif %}>
                                <label>어두운색</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" id="colorRed" name="color" value="5" {% if fdto and fdto.fav_wine_color == 5 %}checked{% endif %}>
                                <label>밝은색</label>
                            </div>
                        </div>
                            <!-- -2-선호하는 주종이 있나요?------------------------------------------------------- -->
                            <br>
                        <div class="form-group">
                            
                            <label for="inputName" class="highlight-label">2. 선호하는 주종이 있나요?</label>
                            <div class="custom-radio">
                                <input type="radio"  name="alc" value="0" {% if fdto and fdto.fav_alc == 0 %}checked{% endif %}>
                                <label>선택없음</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="alc" value="1" {% if fdto and fdto.fav_alc == 1 %}checked{% endif %}>
                                <label>맥주</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="alc" value="2" {% if fdto and fdto.fav_alc == 2 %}checked{% endif %}>
                                <label>소주</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="alc" value="3" {% if fdto and fdto.fav_alc == 3 %}checked{% endif %}>
                                <label>위스키</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="alc" value="4" {% if fdto and fdto.fav_alc == 4 %}checked{% endif %}>
                                <label>다좋아요</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="alc" value="5" {% if fdto and fdto.fav_alc == 5 %}checked{% endif %}>
                                <label>와인으로 술을 처음 시도해봐요.</label>
                            </div>
                       </div>
                            
                            <!-- -3 선호하는 인원 수------------------------------------------------------- -->
                            <br>
                            
                        <div class="form-group">
                            
                            <label for="inputName" class="highlight-label">3. 선호하는 인원 수를 골라주세요.</label>
                            <div class="custom-radio">
                                <input type="radio"  name="comp_num" value="0" {%if fdto and fdto.fav_numbwith == 0%}checked{% endif %}>
                                <label>선택없음</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="comp_num" value="1" {%if fdto and fdto.fav_numbwith == 1%}checked{% endif %}>
                                <label>혼술</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="comp_num" value="2" {%if fdto and fdto.fav_numbwith == 2%}checked{% endif %}>
                                <label>2명</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="comp_num" value="3" {%if fdto and fdto.fav_numbwith == 3%}checked{% endif %}>
                                <label>3~5명</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="comp_num" value="4" {% if fdto and fdto.fav_alc == 4 %}checked{% endif %}>
                                <label>6명 이상</label>
                            </div>

                       </div>
                            
                            
                            
                            <!-- 4-와인의 어떤 맛을 원하나요?나는 단맛을 선호한다
                            ------------------------------------------------------- -->
                            <br><br><br>
                            
                        <div class="form-group">
                            <b><label for="inputName">와인의 어떤 맛을 원하나요?</label></b><br>
                            <label for="inputName" class="highlight-label"><br>4. 나는 단 맛을 선호한다.</label>
                            <div class="custom-radio">
                                <input type="radio" name="sweet" value="1" {%if fdto and fdto.fav_sweet == 1%}checked{% endif %}>
                                <label>매우 그렇다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sweet" value="2" {%if fdto and fdto.fav_sweet == 2%}checked{% endif %}>
                                <label>그렇다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="sweet" value="3" {%if fdto and fdto.fav_sweet == 3%}checked{% endif %}>
                                <label>보통(모르겠다)</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sweet" value="4" {%if fdto and fdto.fav_sweet == 4%}checked{% endif %}>
                                <label>그렇지 않다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sweet" value="5" {%if fdto and fdto.fav_sweet == 5%}checked{% endif %}>
                                <label>전혀 그렇지 않다</label>
                            </div>
                       </div>
                            
                            
                            
                            <!--   나는 쓴맛을 선호한다-------------------------------------------------------- -->
                            <br>
                            
                        <div class="form-group">
                            <label for="inputName" class="highlight-label"><br>5. 나는 쓴 맛을 선호한다.</label>
                            <div class="custom-radio">
                                <input type="radio" name="bitter" value="1" {%if fdto and fdto.fav_bitter == 1%}checked{% endif %}>
                                <label>매우 그렇다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="bitter" value="2" {%if fdto and fdto.fav_bitter == 2%}checked{% endif %}>
                                <label>그렇다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="bitter" value="3" {%if fdto and fdto.fav_bitter == 3%}checked{% endif %}>
                                <label>보통(모르겠다)</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="bitter" value="4" {%if fdto and fdto.fav_bitter == 4%}checked{% endif %}>
                                <label>그렇지 않다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="bitter" value="5" {%if fdto and fdto.fav_bitter == 5%}checked{% endif %}>
                                <label>전혀 그렇지 않다</label>
                            </div>
                       </div>
                            
                            
                            
                            <!-- 나는 신맛을 선호한다------------------------------------------------------ -->
                            <br>
                            
                        <div class="form-group">
                            <label for="inputName" class="highlight-label"><br>6. 나는 신 맛을 선호한다.</label>
                            <div class="custom-radio">
                                <input type="radio" name="sour" value="1" {%if fdto and fdto.fav_sour == 1%}checked{% endif %}>
                                <label>매우 그렇다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sour" value="2" {%if fdto and fdto.fav_sour == 2%}checked{% endif %}>
                                <label>그렇다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="sour" value="3" {%if fdto and fdto.fav_sour == 3%}checked{% endif %}>
                                <label>보통(모르겠다)</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sour" value="4" {%if fdto and fdto.fav_sour == 4%}checked{% endif %}>
                                <label>그렇지 않다</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sour" value="5" {%if fdto and fdto.fav_sour == 5%}checked{% endif %}>
                                <label>전혀 그렇지 않다</label>
                            </div>
                       </div>
                            
                            
                            <!-- 7 와인을 특히 즐기고싶은 계절이 있다면?------------------------------------------------------ -->
                            <br>
                            
                        <div class="form-group">
                            <label for="inputName" class="highlight-label">7. 와인을 특히 즐기고싶은 계절이 있다면?</label>
                            <div class="custom-radio">
                                <input type="radio" name="season" value="0"  {%if fdto and fdto.fav_season == 0%}checked{% endif %}>
                                <label>선택 없음</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="season" value="1"  {%if fdto and fdto.fav_season == 1%}checked{% endif %}>
                                <label>봄</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="season" value="2"  {%if fdto and fdto.fav_season == 2%}checked{% endif %}>
                                <label>여름</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="season" value="3"  {%if fdto and fdto.fav_season == 3%}checked{% endif %}>
                                <label>가을</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="sour" value="4"  {%if fdto and fdto.fav_season == 4%}checked{% endif %}>
                                <label>겨울</label>
                            </div>
                       </div>
                            
                            <!--8-  와인과 함께 먹고싶은 음식은?------------------------------------------------------ -->
                            <br>
                            
                        <div class="form-group">
                            <label for="inputName" class="highlight-label">8. 와인과 함께 먹고싶은 음식은?</label>
                            <div class="custom-radio">
                                <input type="radio" name="food" value="0" {%if fdto and fdto.fav_food == 0%}checked{% endif %}>
                                <label>선택 없음</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="food" value="1" {%if fdto and fdto.fav_food == 1%}checked{% endif %}>
                                <label>소고기</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="food" value="2" {%if fdto and fdto.fav_food == 2%}checked{% endif %}>
                                <label>돼지고기</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="food" value="3" {%if fdto and fdto.fav_food == 3%}checked{% endif %}>
                                <label>생선류</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="food" value="4" {%if fdto and fdto.fav_food == 4%}checked{% endif %}>
                                <label>닭고기</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio"  name="food" value="5" {%if fdto and fdto.fav_food == 5%}checked{% endif %}>
                                <label>해산물</label>
                            </div>
                            
                       </div>
                            
                            <!--우선 순위 1등------------------------------------------------------- -->
                            <br>
                            
                        <div class="form-group">
                            <label for="inputName" class="highlight-label">9. 첫번째 우선순위는?</label>
                            <div class="custom-radio">
		                        <input type="radio" name="fav_first" value="0" id="fav_third0" {%if fdto and fdto.fav_first_priority == 0%}checked{%endif%}> 선택없음
                            </div>
                            <div class="custom-radio">
                       			<input type="radio" name="fav_first" value="1" id="fav_third1" {%if fdto and fdto.fav_first_priority == 1%}checked{%endif%}> 색깔 &nbsp;
                            </div>
                            <div class="custom-radio">
                        		<input type="radio" name="fav_first" value="2" id="fav_third2" {%if fdto and fdto.fav_first_priority == 2%}checked{%endif%}> 도수 &nbsp; 
                            </div>
                            <div class="custom-radio">
                        		<input type="radio" name="fav_first" value="3" id="fav_third3" {%if fdto and fdto.fav_first_priority == 3%}checked{%endif%}> 단맛 &nbsp;
                            </div>
                            <div class="custom-radio">
                       			 <input type="radio" name="fav_first" value="4" id="fav_third4" {%if fdto and fdto.fav_first_priority == 4%}checked{%endif%}> 쓴맛 &nbsp;
                            </div>
                            
                            <div class="custom-radio">
                        		<input type="radio" name="fav_first" value="5" id="fav_third5" {%if fdto and fdto.fav_first_priority == 5%}checked{%endif%}> 신맛 &nbsp; 
                            </div>
                            
                            <div class="custom-radio">
                        		<input type="radio" name="fav_first" value="6" id="fav_third6" {%if fdto and fdto.fav_first_priority == 6%}checked{%endif%}> 음식 &nbsp; 
                            </div>
                            
                       </div>
                       
                            
                            <!--우선 순위 2등------------------------------------------------------- -->
                            <br>
                            
                        <div class="form-group">
                            <label for="inputName" class="highlight-label">10. 2번째 우선순위는?</label>
                            <div class="custom-radio">
		                        <input type="radio" name="fav_second" value="0" id="fav_third0" {%if fdto and fdto.fav_second_priority == 0%}checked{%endif%}> 선택없음
                            </div>
                            <div class="custom-radio">
                       			<input type="radio" name="fav_second" value="1" id="fav_third1" {%if fdto and fdto.fav_second_priority == 1%}checked{%endif%}> 색깔 &nbsp;
                            </div>
                            <div class="custom-radio">
                        		<input type="radio" name="fav_second" value="2" id="fav_third2" {%if fdto and fdto.fav_second_priority == 2%}checked{%endif%}> 도수 &nbsp; 
                            </div>
                            <div class="custom-radio">
                        		<input type="radio" name="fav_second" value="3" id="fav_third3" {%if fdto and fdto.fav_second_priority == 3%}checked{%endif%}> 단맛 &nbsp;
                            </div>
                            <div class="custom-radio">
                       			 <input type="radio" name="fav_second" value="4" id="fav_third4" {%if fdto and fdto.fav_second_priority == 4%}checked{%endif%}> 쓴맛 &nbsp;
                            </div>
                            
                            <div class="custom-radio">
                        		<input type="radio" name="fav_second" value="5" id="fav_third5" {%if fdto and fdto.fav_second_priority == 5%}checked{%endif%}> 신맛 &nbsp; 
                            </div>
                            
                            <div class="custom-radio">
                        		<input type="radio" name="fav_second" value="6" id="fav_third6" {%if fdto and fdto.fav_second_priority == 6%}checked{%endif%}> 음식 &nbsp; 
                            </div>
                            
                       </div>
                       
                            <!--우선 순위 3등------------------------------------------------------- -->
                            <br>
                                                               
                        <div class="form-group">
                            <label for="inputName" class="highlight-label">11. 3번째 우선순위는?</label>
                            <div class="custom-radio">
		                        <input type="radio" name="fav_third" value="0" id="fav_third0" {%if fdto and fdto.fav_third_priority == 0%}checked{%endif%}> 선택없음
                            </div>
                            <div class="custom-radio">
                       			<input type="radio" name="fav_third" value="1" id="fav_third1" {%if fdto and fdto.fav_third_priority == 1%}checked{%endif%}> 색깔 &nbsp;
                            </div>
                            <div class="custom-radio">
                        		<input type="radio" name="fav_third" value="2" id="fav_third2" {%if fdto and fdto.fav_third_priority == 2%}checked{%endif%}> 도수 &nbsp; 
                            </div>
                            <div class="custom-radio">
                        		<input type="radio" name="fav_third" value="3" id="fav_third3" {%if fdto and fdto.fav_third_priority == 3%}checked{%endif%}> 단맛 &nbsp;
                            </div>
                            <div class="custom-radio">
                       			 <input type="radio" name="fav_third" value="4" id="fav_third4" {%if fdto and fdto.fav_third_priority == 4%}checked{%endif%}> 쓴맛 &nbsp;
                            </div>
                            
                            <div class="custom-radio">
                        		<input type="radio" name="fav_third" value="5" id="fav_third5" {%if fdto and fdto.fav_third_priority == 5%}checked{%endif%}> 신맛 &nbsp; 
                            </div>
                            
                            <div class="custom-radio">
                        		<input type="radio" name="fav_third" value="6" id="fav_third6" {%if fdto and fdto.fav_third_priority == 6%}checked{%endif%}> 음식 &nbsp; 
                            </div>
                            
                       </div>
                       
                       
                       
                       
                       
                       
                       

                        </div>
                	 </div>
              
            </div>
        </div>
		                
<!--  
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName">선호하는 인원 수</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <input type="radio" name="comp_num" value="0" {%if fdto and fdto.fav_numbwith == 0%}checked{%endif%}> 선택없음&nbsp;
		                <input type="radio" name="comp_num" value="1" {%if fdto and fdto.fav_numbwith == 1%}checked{%endif%}> 혼술&nbsp;
		                <input type="radio" name="comp_num" value="2" {%if fdto and fdto.fav_numbwith == 2%}checked{%endif%}> 2명&nbsp;
		                <input type="radio" name="comp_num" value="3" {%if fdto and fdto.fav_numbwith == 3%}checked{%endif%}> 3~5명&nbsp;
		                <input type="radio" name="comp_num" value="4" {%if fdto and fdto.fav_numbwith == 4%}checked{%endif%}> 6명 이상 <br>
                        <br>
                        
                        <label for="inputName">와인의 어떤 맛을 원하나요?</label>
                        
                        <br>
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName">나는 단맛을 선호한다</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <input type="radio" name="sweet" value="1" {%if fdto and fdto.fav_sweet == 1%}checked{%endif%}> 매우 그렇다&nbsp;
		                <input type="radio" name="sweet" value="2" {%if fdto and fdto.fav_sweet == 2%}checked{%endif%}> 그렇다&nbsp;
		                <input type="radio" name="sweet" value="3" {%if fdto and fdto.fav_sweet == 3%}checked{%endif%}> 보통(모르겠다)&nbsp;
		                <input type="radio" name="sweet" value="4" {%if fdto and fdto.fav_sweet == 4%}checked{%endif%}> 그렇지 않다&nbsp;
		                <input type="radio" name="sweet" value="5" {%if fdto and fdto.fav_sweet == 5%}checked{%endif%}> 전혀 그렇지 않다 <br>
		                
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName">나는 쓴맛을 선호한다</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <input type="radio" name="bitter" value="1" {%if fdto and fdto.fav_bitter == 1%}checked{%endif%}> 매우 그렇다&nbsp;
		                <input type="radio" name="bitter" value="2" {%if fdto and fdto.fav_bitter == 2%}checked{%endif%}> 그렇다&nbsp;
		                <input type="radio" name="bitter" value="3" {%if fdto and fdto.fav_bitter == 3%}checked{%endif%}> 보통(모르겠다)&nbsp;
		                <input type="radio" name="bitter" value="4" {%if fdto and fdto.fav_bitter == 4%}checked{%endif%}> 그렇지 않다&nbsp;
		                <input type="radio" name="bitter" value="5" {%if fdto and fdto.fav_bitter == 5%}checked{%endif%}> 전혀 그렇지 않다 <br>
		                
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName">나는 신맛을 선호한다</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <input type="radio" name="sour" value="1" {%if fdto and fdto.fav_sour == 1%}checked{%endif%}> 매우 그렇다&nbsp;
		                <input type="radio" name="sour" value="2" {%if fdto and fdto.fav_sour == 2%}checked{%endif%}> 그렇다&nbsp;
		                <input type="radio" name="sour" value="3" {%if fdto and fdto.fav_sour == 3%}checked{%endif%}> 보통(모르겠다)&nbsp;
		                <input type="radio" name="sour" value="4" {%if fdto and fdto.fav_sour == 4%}checked{%endif%}> 그렇지 않다&nbsp;
		                <input type="radio" name="sour" value="5" {%if fdto and fdto.fav_sour == 5%}checked{%endif%}> 전혀 그렇지 않다 <br>
		                
		                <br>
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName">와인을 특히 즐기고싶은 계절이 있다면?</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <input type="radio" name="season" value="0" {%if fdto and fdto.fav_season == 0%}checked{%endif%}> 선택없음&nbsp;
		                <input type="radio" name="season" value="1" {%if fdto and fdto.fav_season == 1%}checked{%endif%}> 봄&nbsp;
		                <input type="radio" name="season" value="2" {%if fdto and fdto.fav_season == 2%}checked{%endif%}> 여름&nbsp;
		                <input type="radio" name="season" value="3" {%if fdto and fdto.fav_season == 3%}checked{%endif%}> 가을&nbsp;
		                <input type="radio" name="season" value="4" {%if fdto and fdto.fav_season == 4%}checked{%endif%}> 겨울 <br>
		                
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName">와인과 함께 먹고싶은 음식은?</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                <input type="radio" name="food" value="0" {%if fdto and fdto.fav_food == 0%}checked{%endif%}> 선택없음&nbsp;
		                <input type="radio" name="food" value="1" {%if fdto and fdto.fav_food == 1%}checked{%endif%}> 소고기&nbsp;
		                <input type="radio" name="food" value="2" {%if fdto and fdto.fav_food == 2%}checked{%endif%}> 돼지고기&nbsp;
		                <input type="radio" name="food" value="3" {%if fdto and fdto.fav_food == 3%}checked{%endif%}> 생선류&nbsp;
		                <input type="radio" name="food" value="4" {%if fdto and fdto.fav_food == 4%}checked{%endif%}> 닭고기&nbsp;
		                <input type="radio" name="food" value="5" {%if fdto and fdto.fav_food == 5%}checked{%endif%}> 해산물 <br>
		                <br>
                                
                        <label for="inputName">우선 순위</label>
                        
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName"> 1등 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="fav_first" value="0" id="fav_first0" {%if fdto and fdto.fav_first_priority == 0%}checked{%endif%} 
                        > 선택없음 &nbsp;
                        <input type="radio" name="fav_first" value="1" id="fav_first1" {%if fdto and fdto.fav_first_priority == 1%}checked{%endif%} 
                        > 색깔 &nbsp;
                        <input type="radio" name="fav_first" value="2" id="fav_first2" {%if fdto and fdto.fav_first_priority == 2%}checked{%endif%} 
                        > 도수 &nbsp;           
                        <input type="radio" name="fav_first" value="3" id="fav_first3" {%if fdto and fdto.fav_first_priority == 3%}checked{%endif%} 
                        > 단맛 &nbsp;
                        <input type="radio" name="fav_first" value="4" id="fav_first4" {%if fdto and fdto.fav_first_priority == 4%}checked{%endif%} 
                        > 쓴맛 &nbsp;
                        <input type="radio" name="fav_first" value="5" id="fav_first5" {%if fdto and fdto.fav_first_priority == 5%}checked{%endif%} 
                       > 신맛 &nbsp;                             
                        <input type="radio" name="fav_first" value="6" id="fav_first6" {%if fdto and fdto.fav_first_priority == 6%}checked{%endif%} 
                        > 음식 &nbsp; <br>
                         
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName"> 2등 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="fav_second" value="0" id="fav_second0" {%if fdto and fdto.fav_second_priority == 0%}checked{%endif%} 
                        > 선택없음 &nbsp;
                        <input type="radio" name="fav_second" value="1" id="fav_second1" {%if fdto and fdto.fav_second_priority == 1%}checked{%endif%} 
                        > 색깔 &nbsp;
                        <input type="radio" name="fav_second" value="2" id="fav_second2" {%if fdto and fdto.fav_second_priority == 2%}checked{%endif%} 
                        > 도수 &nbsp;                              
                        <input type="radio" name="fav_second" value="3" id="fav_second3" {%if fdto and fdto.fav_second_priority == 3%}checked{%endif%} 
                        > 단맛 &nbsp;
                        <input type="radio" name="fav_second" value="4" id="fav_second4" {%if fdto and fdto.fav_second_priority == 4%}checked{%endif%} 
                        > 쓴맛 &nbsp;
                        <input type="radio" name="fav_second" value="5" id="fav_second5" {%if fdto and fdto.fav_second_priority == 5%}checked{%endif%} 
                        > 신맛 &nbsp;                             
                        <input type="radio" name="fav_second" value="6" id="fav_second6" {%if fdto and fdto.fav_second_priority == 6%}checked{%endif%} 
                        > 음식 &nbsp; <br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="inputName"> 3등 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="fav_third" value="0" id="fav_third0" {%if fdto and fdto.fav_third_priority == 0%}checked{%endif%} 
                        > 선택없음 &nbsp;
                        <input type="radio" name="fav_third" value="1" id="fav_third1" {%if fdto and fdto.fav_third_priority == 1%}checked{%endif%} 
                        > 색깔 &nbsp;
                        <input type="radio" name="fav_third" value="2" id="fav_third2" {%if fdto and fdto.fav_third_priority == 2%}checked{%endif%} 
                        > 도수 &nbsp;                          
                        <input type="radio" name="fav_third" value="3" id="fav_third3" {%if fdto and fdto.fav_third_priority == 3%}checked{%endif%} 
                        > 단맛 &nbsp;
                        <input type="radio" name="fav_third" value="4" id="fav_third4" {%if fdto and fdto.fav_third_priority == 4%}checked{%endif%} 
                        > 쓴맛 &nbsp;
                        <input type="radio" name="fav_third" value="5" id="fav_third5" {%if fdto and fdto.fav_third_priority == 5%}checked{%endif%}
                        > 신맛 &nbsp;                            
                        <input type="radio" name="fav_third" value="6" id="fav_third6" {%if fdto and fdto.fav_third_priority == 6%}checked{%endif%} 
                       > 음식 &nbsp; <br><br><br>
                       
                        -->
                       
                       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       		<b>회원정보 수정을 모두 완료한 후 확인 버튼을 눌러주세요.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          					<button class="btn btn-sm btn-danger mt-3 mt-sm-0" type="submit">확인</button>
							<a class="btn btn-sm btn-primary" href="myPage">취소</a> 
							
							
						</form>		            
					</div>
				</div>
		        
                          

		        
		        
			 	{% endif %} 
	                        		        	                            

	                        

	                        
	                                
	                    </div>
	                    	                        

	                </div>
	            </div>

	        </div>

	    </div>

   
				<script src="{% static 'js/userFavoriteModify.js' %}" ></script>
		</div>
	</div>


</body>




<style>

	/*왼쪽에 MyPage 내용 고정시키는 코드 */
	#sidebar-wrapper {
		position:fixed;
	    left: 50;
	    top:250px;
	    width: 300px; /* 원하는 너비 값으로 조정 */
	    background-color: #ffffff; /* 배경색 설정 */
	    border-right: 1px solid #dee2e6; /* 우측 경계선 설정 */
	    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
	    z-index: 1000; /* 다른 요소 위에 표시하기 위한 z-index 값 설정 */
	}
	#layoutSidenav_content {
			margin-left: 400px; /* 사이드바의 너비 + 여유 여백 만큼 설정 */
	}
	
	
.highlight-label {
    font-weight: bold; /* 텍스트 굵게 표시 */
    color: #0000ff;
}
</style>
{%endblock%}