{%extends "user/base.html"%}
{%csrf_token%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'css/myBoard.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


{%block title%} <h2>  </h2> {%endblock%}

{%block content%}
<head>
  <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="{%static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="myComment">댓글 관리</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="modifyUser">회원정보수정</a></li>
                <li class="nav-item"><a class="nav-link" href="reviewList">리뷰 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="purchaseDetail">구매 내역</a></li>
                <li class="nav-item"><a class="nav-link" href="../purchasing/cart-list">장바구니</a></li>
                <li class="nav-item"><a class="nav-link" href="myBoard">게시글 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="myComment">댓글 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="delete">회원 탈퇴</a></li>
                {% if user_grade == "2" %}
                <li class="nav-item"><a class="nav-link" href="../store/storeMyPage">점주 페이지</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
	{%for dto in dtos%}
    <div class="card p-3">
        <div class="row">
        <div class="col-md-8">
	        <div class="mt-2">
		       	<div class="d-flex flex-row mt-3">
		        	<img src="https://pbs.twimg.com/media/FX3zgNgaIAcSxrE.jpg" width="50" height="60" class="rounded-circle">
				<div class="ms-2 d-flex flex-column">
				<div class="d-flex flex-row align-items-center">
					<h6>{{dto.comment_reg_time}}</h6>
					<span class="dots"></span>
				</div>
				<div class="d-flex flex-row align-items-center">
					<h6>{{dto.board.board_title}}</h6>
					<span class="dots"></span>
				</div>
					<h4><span class="days-ago"> 내용 : 
				  	<a href="../board/content?num={{dto.board.board_id}}">  
						{{dto.comment_content}}
					</a>
					</span></h4>
				</div>
		       	</div>
	        </div>
        </div>
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}